<?xml version="1.0"?>

<config>
    <modules>
        <Capimichi_CalcoloCodiceFiscale>
            <version>0.1.0</version>
        </Capimichi_CalcoloCodiceFiscale>
    </modules>


    <global>
        <helpers>
            <calcolocodicefiscale>
                <class>Capimichi_CalcoloCodiceFiscale_Helper</class>
            </calcolocodicefiscale>
        </helpers>
        <blocks>
            <calcolocodicefiscale>
                <class>Capimichi_CalcoloCodiceFiscale_Block</class>
            </calcolocodicefiscale>
        </blocks>
    </global>

    <admin>
        <routers>
            <calcolocodicefiscale>
                <use>admin</use>
                <args>
                    <module>Capimichi_CalcoloCodiceFiscale</module>
                    <frontName>calcolocodicefiscale</frontName>
                </args>
            </calcolocodicefiscale>
        </routers>
    </admin>

    <frontend>
        <routers>
            <routeurfrontend>
                <use>standard</use>
                <args>
                    <module>Capimichi_CalcoloCodiceFiscale</module>
                    <frontName>calcolocodicefiscale</frontName>
                </args>
            </routeurfrontend>
        </routers>
    </frontend>

</config>