.blocker {
    z-index: 99999 !important;
}

.fiscal-code-calculator-modal {
    overflow: visible;
    border-radius: 0 !important;
}

#fiscal-code-calculator .commons-hint {
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    margin: 10px 0;
}

#fiscal-code-calculator .commons-hint {
    background: rgba(0, 0, 0, .1);
}

#fiscal-code-calculator .commons-hint span {
    padding: 5px;
    width: 100%;
    font-size: 12px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

#fiscal-code-calculator .commons-hint span:hover {
    background: rgba(0, 0, 0, .1);
}